{% extends "@FOSUser/layout.html.twig" %}

{% block navbar %}{#Remove navbar for this page#}{% endblock %}

{% block fos_user_content %}
    <h1>Login</h1>
    <p>Need an account? <a href="{{ path('fos_user_registration_register') }}" title="Create an account">Create an account</a></p>
    <br />
    {{ include('@FOSUser/Security/login_content.html.twig') }}
    <br />
    <p><a href="{{ path('fos_user_resetting_request') }}" title="Forgot Your Password?">Forgot Your Password?</a></p>
{% endblock fos_user_content %}